.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #3abef2;
  padding: 0.5rem;
  color: #fff;
}

.Header > div {
  display: inline-block;
  font-size: 1.2rem;
  align-self: center;
}
.Logo {
  height: 40px;
  width: 40px;

}