.Record {
  width: 86%;
  color: #fff;
  background-color: #3abef2;
  border: 1px solid #3abef2;
  box-shadow: 2px 3px 5px #6e6d6d;
  margin: 0.5rem auto;
  text-align: start;
  padding-left: 0.5rem;
}